# Welcome to SanPy tutorial!

**In this tutorial you'll learn:**
1. What is SanPy
2. How to configure and use SanPy library
3. Metrics you can get via SanPy

# What is SanPy

**SanPy** is Santiment API python client. It allows to directly get necessary metrics for your analytics. <br>
Official SanPy docs are [here](https://github.com/santiment/sanpy).<br>

You can also install SanPy on your machine with<br>```pip install sanpy```

SanPy provides a bunch of onchain and social metrics as well as price, trade volumes and other metrics. [Available metrics](https://github.com/santiment/sanpy#available-metrics)

Some of the metrics requires **API key**. Contact us to get temporary API key during the conference or get it by yourself following the [instructions](https://github.com/santiment/sanpy#configuration).

# Getting the data

In [1]:
# import SanPy
import san

# (optional) configure your API key

san.ApiConfig.api_key = 'api-key-provided-by-sanbase'

The data is fetched by providing a string in the format `query/slug` and additional parameters.

- `query`: Available queries can be found in section: [Available metrics](#available-metrics)
- `slug`: A list of projects with their slugs, names, etc.

In [2]:
# Get all projects:
df = san.get("projects/all")
df.head()

        marketSegment             name    slug ticker  totalSupply
0  Blockchain Network           0chain  0chain    ZCN    200000000
1            Exchange               0x      0x    ZRX   1000000000
2      Cryptocurrency        0xBitcoin   0xbtc  0xBTC     20999984
3            Protocol  0xcert Protocol  0xcert    ZXC    500000000
4           Marketing           1World  1world    1WO  37219452.96

Getting the metrics next parameters could be specified:
- `from_date`, `to_date` - A date or datetime in iso8601 format specifying the start and end datetime for the returned data for ex: `2018-06-01`
- `interval` - The interval of the returned data - an integer followed by one of: `s`, `m`, `h`, `d` or `w`

Default values for parameters:

- `from_date`: `datetime.now() - 365 days`
- `to_date`: `datetime.now()`
- `interval`: `'1d'`

# Onchain metrics examples

## BurnRate

Each transaction has an equivalent **burn rate** record. The burn rate is calculated by multiplying the number of tokens moved by the number of blocks in which they appeared. Spikes in burn rate could indicate large transactions or movement of tokens that have been held for a long time. 
<br> In order to access real time data or historical data (older than 3 months), you'll need to set the api key and have some SAN tokens in your account.

In [3]:
# To get BurnRate for Santiment use:

burn_rate = san.get(
    "burn_rate/santiment",
    from_date="2019-01-01", 
    to_date="2019-02-01",
    interval="1d"
)

burn_rate.head()

                               burnRate
datetime
2019-01-01 00:00:00+00:00  3.947808e+06
2019-01-02 00:00:00+00:00  1.059677e+07
2019-01-03 00:00:00+00:00  1.743003e+10
2019-01-04 00:00:00+00:00  5.804725e+07
2019-01-05 00:00:00+00:00  1.554360e+08

## ExchangeFundsFlow

Fetch the difference between the tokens that were deposited minus the tokens that were withdrawn from an exchange for a given slug in the selected time period. 
<br>In order to access real time data or historical data (older than 3 months), you'll need to set the api key and have some SAN tokens in your account.

In [4]:
exchange_funds_flow = san.get(
    "exchange_funds_flow/ethereum",
    from_date="2019-01-01T01:00:00Z",
    to_date="2019-02-01T01:00:00Z",
    interval="1w"
)

exchange_funds_flow

                           inOutDifference
datetime
2019-01-01 01:00:00+00:00    -1.232188e+06
2019-01-07 00:00:00+00:00    -7.466276e+05
2019-01-14 00:00:00+00:00     6.407092e+05
2019-01-21 00:00:00+00:00     5.583500e+04
2019-01-28 00:00:00+00:00    -1.943587e+04

# Social metrics example

## Social Volume

**Social volume** is a number of mentions count in social channels for a given project and time interval. <br> In order to access real time data or historical data (older than 3 months), you'll need to set the api key and have some SAN tokens in your account.

Social volume has one more special argument: **social_volume_type** - the source of mention counts, one of the following:
1. "PROFESSIONAL_TRADERS_CHAT_OVERVIEW" - shows how many times the given project was mentioned in the professional traders chat
2. "TELEGRAM_CHATS_OVERVIEW" - shows how many times the given project was mentioned across all telegram chats, except the project's own community chat (if there is one)
3. "TELEGRAM_DISCUSSION_OVERVIEW" - the general volume of messages in the project's community chat (if there is one)
4. "DISCORD_DISCUSSION_OVERVIEW" - shows how many times the given project has been mentioned in the discord channels

In [5]:
social_volume = san.get(
    "social_volume/bitcoin",
    from_date="2019-01-01",
    to_date="2019-02-01",
    interval="12h",
    social_volume_type="TELEGRAM_CHATS_OVERVIEW"
)

social_volume.head()

                           mentionsCount
datetime
2019-01-01 00:00:00+00:00            425
2019-01-01 12:00:00+00:00            458
2019-01-02 00:00:00+00:00            360
2019-01-02 12:00:00+00:00            596
2019-01-03 00:00:00+00:00            365

## Topic search

**Topic search** is the number of the mentions of the search phrase from the selected source. 
<br>The results are in two formats - the messages themselves and the data for building graph representation of the result. 
<br>In order to access real time data or historical data (older than 3 months), you'll need to set the api key and have some SAN tokens in your account.

Arguments description:

1. A string in the format "topic_search/fields" where fields is one of the following:
  1. "messages" 
  2. "chart_data" 
2. source - one of the following:
  1. TELEGRAM
  2. PROFESSIONAL_TRADERS_CHAT
  3. REDDIT
  4. DISCORD
3. search_text - a string containing the key words for which the sources should be searched.
4. from_date - a string representation of datetime value according to the iso8601 standard, e.g. "2018-04-16T10:02:19Z"
5. to_date - a string representation of datetime value according to the iso8601 standard, e.g. "2018-04-16T10:02:19Z"
6. interval - an integer followed by one of: m, h, d, w

In [6]:
topic_search = san.get(
    "topic_search/chart_data",
    source="TELEGRAM",
    search_text="ICO",
    from_date="2019-01-01",
    to_date="2019-02-01",
    interval="1d"
)

In [7]:
# topic search response might be converted into common pandas dataFormat:

topic_search['dt'] = topic_search['chartData'].apply(lambda x: x['datetime'])
topic_search['mentionsCount'] = topic_search['chartData'].apply(lambda x: x['mentionsCount'])

# set dt as index
topic_search = topic_search.drop(columns=['chartData']).set_index('dt')

# take a look
topic_search.head()

                      mentionsCount
dt
2019-01-01T00:00:00Z             44
2019-01-02T00:00:00Z             69
2019-01-03T00:00:00Z             86
2019-01-04T00:00:00Z             77
2019-01-05T00:00:00Z             61

# Prices

You can also get **prices** of a particular asset using ```"prices/[asset]"```. <br>Executing such query you'll get market capitalization of an asset, asset's price in BTC and USD, traded volume:

In [8]:
prices = san.get(
    "prices/ethereum",
    from_date="2019-01-01",
    to_date="2019-02-01",
    interval="1h"
)

prices.head()

                              marketcap  priceBtc    priceUsd      volume
datetime
2019-01-01 00:00:00+00:00  1.391436e+10  0.035643  133.632201  2310173485
2019-01-01 01:00:00+00:00  1.393447e+10  0.035708  133.824298  2275315526
2019-01-01 02:00:00+00:00  1.386999e+10  0.035642  133.203978  2246935141
2019-01-01 03:00:00+00:00  1.387157e+10  0.035612  133.218112  2218898257
2019-01-01 04:00:00+00:00  1.400032e+10  0.035903  134.453657  2242686474

To get **open/high/low/close** prices you may use ```"ohlcv/[asset]"```.

# Batching queries

When needed a lot of metrics it's efficient to batch multiple queries. It is done with Batching as follows:

In [9]:
# import Batch
from san import Batch

# create batch object
batch = Batch()

# create a request
batch.get(
    "daily_active_addresses/ethereum",
    from_date="2019-01-01",
    interval="1w"
)
batch.get(
    "daily_active_addresses/santiment",
    from_date="2019-01-01",
    interval="1w"
)

# execute the request
[daa_eth, daa_san] = batch.execute()

# check the results:

#daa_san.head()
daa_eth.head()

                           activeAddresses
datetime
2019-01-01 00:00:00+00:00           224559
2019-01-07 00:00:00+00:00           226861
2019-01-14 00:00:00+00:00           220765
2019-01-21 00:00:00+00:00           202751
2019-01-28 00:00:00+00:00           200934

__________________

**Congratulations on completing the tutorial.**

Find more tutorails [here](https://github.com/santiment/KDD-2019).

If you have any questions contact team in [Santiment Discord](https://discord.gg/MMJvbQz) or [Santiment Telegram](https://t.me/santiment_network).<br>
You can find FAQ and more metrics explained visiting [Santiment KnowledgeBase](https://help.santiment.net/).